
    <div class="col-sm-12">
        
        <table class="table">
            <thead>
                <th>
                    Id
                </th>
                <th>
                    Sku
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    BasePrice
                </th>
                <th>
                    Stocked
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.price | currency:'EUR':symbol:'2.0-0'}}</td>
                    <td>{{product.basePrice | currency:'EUR':symbol:'2.0-0'}}</td>
                    <td>{{product.stocked}}</td>
                </tr>
            </tbody>
        </table>
    </div>