.fa-times,
.fa-plus {
  padding: 5px;
}

.btn-primary {
  margin-bottom: 20px;
  float: right;
}

th {
  cursor: pointer;
}

.sort-asc:after {
  content: '\25B2';
}

.sort-desc:after {
  content: '\25BC';
}
