<div class="col-sm-12">
  <a routerLink="/product"><button type="button"
            class="btn btn-primary">
      <i class="fas fa-plus"></i>Add Product
    </button></a>
  <table appSortableTable
         class="table table-dark table-hover"
         (sorted)="onSorted($event)">
    <thead>
      <th app-sortable-column
          sortable-column="id"
          sortable-direction="asc">
        Id
      </th>
      <th app-sortable-column
          sortable-column="sku">
        Sku
      </th>
      <th app-sortable-column
          sortable-column="title">
        Title
      </th>
      <th app-sortable-column
          sortable-column="price">
        Price
      </th>
      <th app-sortable-column
          sortable-column="basePrice">
        BasePrice
      </th>
      <th app-sortable-column
          sortable-column="stocked">
        Stocked
      </th>
      <th>

      </th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async">
        <td><a routerLink="/product/{{product.id}}">{{product.id}}</a></td>
        <td>{{product.sku}}</td>
        <td>{{product.title}}</td>
        <td>{{product.price | currencyFormat}}</td>
        <td>{{product.basePrice | currencyFormat}}</td>
        <td>{{product.stocked | stocked}}</td>
        <td><button (click)="deleteProduct(product)"
                  type="button"
                  class="btn btn-danger"><i class="fas fa-times"></i>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
