<i class="fas fa-shopping-basket"
   (click)="onOpen()"></i>
<div class="modal"
     tabindex="-1"
     role="dialog"
     *ngIf="modalClicked">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your current Basket</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="onOpen()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
           *ngFor="let item of basket.items">
        <p><b>Name:</b> {{item.title}}</p>
        <p><b>Price:</b> {{item.price | currencyFormat}}</p>
        <p><b>Quantity:</b> {{item.quantity}}</p>
      </div>
      <div class="modal-footer">
        <b>Total Price:</b> {{basket.getTotalPrice() | currencyFormat}}
      </div>
      <button type="button"
              (click)="onClear()"
              class="btn btn-danger"
              *ngIf="basket.items?.length > 0">
        <i class="fas fa-times-circle"></i>Clear
      </button>
    </div>
  </div>
</div>
