.container-grid {
    height: 50rem;
    overflow: scroll;

    .row-grid {
        grid-template-columns: 300px;
    
        .btn-primary:hover {
            cursor: pointer;
        }
    
        .btnOne {
            margin-bottom: 10px;
        }
    
        .fas {
            padding-right: 5px;
        }
    }
}


