<div class="container-grid"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50">
  <div class="row-grid">
    <button type="button"
            class="btn btn-primary btnOne"
            (click)="toggleViews()">
      <i class="fas fa-table"></i>Table View
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="toggleViews()">
      <i class="fas fa-columns"></i>Panel View
    </button>
  </div>
  <app-product-grid *ngIf="openPanel"></app-product-grid>
  <app-product-table *ngIf="!openPanel"></app-product-table>
</div>
