form {
  display: grid;
  grid-template-columns: 940px;

  .button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
  }

  .two-button-grid {
    grid-template-columns: 47.5% 47.5%;
  }

  .error-message {
    color: rgb(243, 117, 117)
  }
}
