
    <div class="col-sm-12">
        <div *ngFor="let product of products" class="card">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">Product Id: {{product.id}}</p>
                <p class="card-text">Product Sku: {{product.sku}}</p>
                <p class="card-text">Product Desc: {{product.desc}}</p>
                <p class="card-text">Product Stocked: {{product.stocked}}</p>
                <p class="card-text">Product Price: {{product.price}}</p>
            </div>
        </div>
    </div>